$PrimaryColor: #008099;
$PrimaryColorLight: #22a3bd;
$PrimaryColorDark: #006074;

$SecondaryColor: #ff8a65;
$SecondaryColorLight: #ffbb93;
$SecondaryColorDark: #c75b39;

$PrimaryBlack: #000;
$PrimaryBlack80: #323232;

$PrimaryGray: #595959;
$PrimaryGray80: #8b8a87;
$PrimaryGray60: #aba7a5;
$PrimaryGray40: #c5c4c3;

$PrimaryWhite: #fff;
$PrimaryWhite85: #ffffffd9;
$PrimaryWhite60: #F4FDFF;